DIM-1/
DIM1
serverconfig/
advancements/
dimensions/arsomega/
dimensions/blue_skies/
dimensions/lobby/gaming_dimension/
dimensions/lobby/fishing_dimension/
dimensions/lobby/mining_dimension/
dimensions/lobby/void_dimension/
dimensions/theabyss/